.editor {
  min-height: 300px;
  padding: 50px;
  border: solid 0.5px gray;
  margin: 50px;
  box-shadow: 10px 10px lightgray;
}

.right-align {
  text-align: right;
}

.center-align {
  text-align: center;
}

.toolbar {
  border-bottom: 0.5px solid gray;
  padding: 10px;
  margin-bottom: 10px;

}

.toolbar > * {
  margin-right: 5px;
  margin-top: 5px;
  align-items: center;
  justify-content: center;
}
