.editor {
  min-height: 300px;
  padding: 10px;
  border: solid 1px black;
  margin: auto;
}

.right-align {
  text-align: right;
}

.center-align {
  text-align: center;
}

.toolbar {
  border-bottom: 2px solid red;
  padding: 10px;
  margin-bottom: 10px;
}

.toolbar > * {
  margin-right: 5px;
  margin-top: 5px;
}
