.editor {
  min-height: 300px;
  padding: 50px;
  border: solid 0.5px gray;
  margin: 50px;
  box-shadow: 10px 10px lightgray;
}

.right-align {
  text-align: right;
}

.center-align {
  text-align: center;
}

.toolbar {
  border-bottom: 0.5px solid gray;
  padding: 10px;
  margin-bottom: 10px;

}

.toolbar > * {
  margin-right: 5px;
  margin-top: 5px;
  align-items: center;
  justify-content: center;
}

.document-list-container {
  margin-top: 20px;
  margin-bottom: 20px;
  background: gray;
  margin-right: 5px;
}

.app-container {
  margin-right: 5px;
  margin-top: 5px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
}

.document-list > * {
  align-items: center;
  justify-content: center;
}
.register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  fontFamily: 'Roboto, sans-serif';
  padding-bottom: 20px;
}
